<div class="card">
    <div class="card-body">
        <form>
            <div class="form-grupo">
               <label for="nome-produto"><b>Nome</b></label>
               <input type="text" class="form-control" placeholder="Digite o nome do produto"/>
            </div>
            <div class="form-grupo">
                <label for="preco-produto" ><b>Preço</b></label>
                <input type="text" class="form-control" placeholder="Digite o preço do produto"/>
             </div>
             <div class="form-grupo">
                <label for="quant_est-produto"><b>Quantidade</b></label>
                <input type="text" class="form-control" placeholder="Digite a quantidade em estoque do produto"/>
             </div>
             <div class="form-grupo">
                <label for="descricao-produto"><b>Descrição</b></label>
                <input type="text" class="form-control" placeholder="Digite a descrição do produto"/>
             </div>
        </form>
    </div>
</div>